/* Main App Page Styling */
.App {
  text-align: center;
  margin: 50px solid cyan;
  padding: 30px;
  background-color: darkcyan;
}

/* Minesweeper Game Styling */
table {
  margin-left: 460px;
  margin-right: 380px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightgray;
  border: 1px solid grey;
}

tr {
  border: 1px solid grey;
  background-color: lightgrey;
}

.cellButton {
  margin: 1px;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 0.3em;
  background-color: white;
}

.cellButtonTxt {
  margin: 0px;
  color: darkcyan;
}

/* Help Page Styling */
.helpBorder {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.helpCard {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 3em;
  background-color: lightgray;
}

.helpCardBody {
  padding: 15px;
}

.cardTitle {
  font-weight: bold;
}

/* 'Help' & 'Re-Start Game' Buttons Styling */
button,
.button {
  padding: 10px;
  margin: 10px;
  font-size: medium;
  text-decoration: none;
  color: black;
}