/* Main App Page Styling */
.App {
  margin: 50px solid darkcyan;
  padding: 30px;
  background-color: darkcyan;
  text-align: center;
}

/* Minesweeper Game Styling */
.minesweeperTable {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 0.5em;
  display: inline-flex;
  background-color: lightgray;
}
.row {
  margin: 1px;
  padding: 1px;
}
.buttonHolder {
  padding: 1px;
}
.cellButton {
  margin: 1px;
  padding: 0px;
  border: 1px solid grey;
  border-radius: 0.3em;
  height: 4.5em;
  width: 4.5em;
  background-color: white;
}
.cellButtonTxt {
  color: darkcyan;
}

/* Help Page Styling */
.helpBorder {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.helpCard {
  border: 1px solid black;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
}
.helpCardBody {
  padding: 15px;
}
.cardTitle {
  font-weight: bold;
}

/* 'Help' & 'Re-Start Game' Buttons Styling */
.restartButton,
.helpButton {
  margin: 10px;
  padding: 10px;
  border: 0px;
  border-radius: 0.3em;
  font-size: medium;
  text-decoration: none;
  color: black;
}